body {
    margin-top: 100px;
}

/* compatibility fix for bootstrap */
.rainbow .close {
    float: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    opacity: inherit;
}

#logs table tbody tr td:last-child section {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    position: relative;
}

#logs table tbody tr td:last-child {
    position: relative;
}
#logs table tbody tr td:last-child:hover section {
    white-space: pre;
    max-width: none;
    text-overflow: unset;
    background-color: #fafafa;
    display: block;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    max-width: 50vw;
    max-height: 50vh;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(222, 226, 229);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.15);
}

.card + .card {
    margin-top: 10px;
}
