body {
    margin-top: 100px;
}

/* compatibility fix for bootstrap */
.rainbow .close {
    float: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    opacity: inherit;
}


#logs table tbody tr td:last-child {
    /* white-space: pre; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}

.card + .card {
    margin-top: 10px;
}
